<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>counter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">Current Count: {{ count$ | async }}</div>
  <ion-button (click)="increment()">increment</ion-button>
  <ion-button (click)="decrement()">decrement</ion-button>
  <ion-button (click)="reset()">reset</ion-button>
  <ion-button (click)="test()">test</ion-button>
</ion-content>
