<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>사용자 검색</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="autocomplete">
		<ion-item>
			<input #search id="search" type="input" placeholder="검색하고 싶은 사용자 아이디를 입력해주세요" />
			<ion-button (click)="doSearch()">Serach</ion-button>
		</ion-item>
		<ul #suggestLayer id="suggestLayer"></ul>
		<!-- 로딩바 -->
		<div #loading id="loading">
			<ion-spinner></ion-spinner>
		</div>
	</div>
</ion-content>
