.autocomplete {
  position: relative;
  width: 300px;
}
#search {
  width: 100%;
}
#suggestLayer {
  color: #666;
  padding: 0px;
  margin: 0px;
  width: 100%;
}
#loading {
	position: absolute;
	z-index: 2;
	top: 2px;
	right: 0px;
	display: none; /* 로딩바는 처음에는 노출되지 않아야 한다 */
}