<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Price</ion-label>
    <input #price (input)="priceA$.next(price.value)" placeholder="0" />
  </ion-item>
  <ion-item>
    <ion-label>Amount</ion-label>
    <input #amount (input)="amountA$.next(amount.value)" placeholder="0" />
  </ion-item>
  <ion-item>
    <ion-label>Total</ion-label>
    <ion-label slot="end">{{ totalOrderAmountV$ | async }}</ion-label>
  </ion-item>

  orderData price: {{ orderData.price }}, amount: {{ orderData.amount }}
</ion-content>

<ion-footer class="ion-padding">
  <ion-button routerLink="/counter">Counter</ion-button>
  <ion-button routerLink="/autocomplete">자동완성</ion-button>
  <ion-button routerLink="/view">View</ion-button>
</ion-footer>